<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Pierr's Sweet and Savory Treats</title>
    <link rel="icon" type="image/png" href="https://www.pngfind.com/pngs/m/242-2426710_png-50-px-butcher-knife-icon-png-transparent.png">
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/css/styles.css">
</head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <a class="navbar-brand" href='/'> Pierre's Sweet and Savory Treats || </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
        @* <a class="nav-link enlarge" href='/'>Home</a> *@
        <a class="nav-link enlarge" href='/Flavors'>Flavors</a> 
        <a class="nav-link enlarge" href='/Treats'>Treats</a> 
        <a class="nav-link enlarge" href='/Flavors/MyFlavor'> My Added Flavors</a>
        <a class="nav-link enlarge" href='/Treats/MyTreat'> My Added Treats</a>
        <a class="nav-link enlarge" href='/Account'> Login</a>
        <!-- <a class="nav-link enlarge" href='/Ratings'> Top Rated</a> -->
        @* <a class="nav-link enlarge" href='/Account'> Login</a> *@

  </div>
</nav>
    @RenderBody()
    <br>
   
  </body>
</html>